{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Multi-Chassis Link Aggregation Group</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description | placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Multi-Chassis Domain</th>
                        <td>
                          <a href="{{ object.mc_domain.get_absolute_url }}">{{ object.mc_domain }}</a>
                        </td>
                      </tr>
                    <tr>
                        <th scope="row">Group ID</th>
                        <td>{{ object.lag_id }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/custom_fields.html' %}
        {% include 'inc/panels/tags.html' %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Member LAG Interfaces</h5>
            <div class="card-body table-responsive">
                {% render_table lag_interfaces_table %}
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Member Physical Interfaces</h5>
            <div class="card-body table-responsive">
                {% render_table physical_interfaces_table %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}